<p-card header="Bathroom Vanities Furniture">
  <p class="m-0 vanities-body">
    The bathroom is one of the most functional areas within a home, and it should exhibit comfort & style. Our range of furniture includes storage units, medicine cupboards, tallboy cabinets, washstands and sinks with cabinets. We stock designer bathroom furniture units from Duravit, Ideal Standard, Roper Rhodes, Tavistock and other renowned brands. We have a variety of options in this including wall-mounted and free-standing furniture units.
  </p>
</p-card>

<div class="items-on-sale">
  <div>
    SALE! On Selected Products
  </div>
  <div>
    <a href="#">View Sale Items</a>
  </div>
</div>
<div class="categories">
  <p-card [style]="{ width: '360px' }">
    <ng-template pTemplate="header">
      <img alt="Card" src="assets\images\cat-1.png" />
    </ng-template>
    <div>
      <h4>Aluminum bathroom vanities</h4>
      <h6>From Rs: 50000</h6>
    </div>
  </p-card>
  <p-card  [style]="{ width: '360px' }">
    <ng-template pTemplate="header">
      <img alt="Card" src="assets\images\cat-1.png" />
    </ng-template>
    <div>
      <h4>Aluminum bathroom vanities</h4>
      <h6>From Rs: 50000</h6>
    </div>
  </p-card>
</div>

