<p-card header="Bathroom Vanities Furniture">
  <p class="m-0 vanities-body">
    The bathroom is one of the most functional areas within a home, and it should exhibit comfort & style. Our range of furniture includes storage units, medicine cupboards, tallboy cabinets, washstands and sinks with cabinets. We stock designer bathroom furniture units from Duravit, Ideal Standard, Roper Rhodes, Tavistock and other renowned brands. We have a variety of options in this including wall-mounted and free-standing furniture units.
  </p>
</p-card>

<div class="items-on-sale">
  <div>
    SALE! On Selected Products
  </div>
  <div>
    <a href="#">View Sale Items</a>
  </div>
</div>
<div class="categories">
  <p-card [style]="{ width: '360px' }">
    <ng-template pTemplate="header">
      <img alt="Card" src="assets\images\cat-1.png" />
    </ng-template>
    <div>
      <h4>Aluminum bathroom vanities</h4>
      <h6>From Rs: 50000</h6>
    </div>
  </p-card>
  <p-card  [style]="{ width: '360px' }">
    <ng-template pTemplate="header">
      <img alt="Card" src="assets\images\cat-2.png" />
    </ng-template>
    <div>
      <h4>Aluminum bathroom vanities</h4>
      <h6>From Rs: 50000</h6>
    </div>
  </p-card>
</div>
<p-card>
  <h1 class="t-a-c">Vanities Brands At Sanitary</h1>
  <h4 class="t-a-c"><a href="#">View Brands</a></h4>
  <p class="m-0 vanities-body">
    You can completely transform the decor of your bathroom, by selecting the right furniture, either in modern or traditional design. Through experience and thorough research, we are aware of market trends and customers' tastes, so we provide only the best furniture ranges at our online store. Take a look at our contemporary, compact & minimalist range of products, which is available in shades such as oak, maple, cherry & white. Besides the right unit, we are confident that you will also find the products at the right price. If you live in the UK, our web-store and showroom, are the destinations for your bathroom shopping. We offer great choices and advice to assist you in making the right selection. Please refer to our buying guide on furniture for UK Bathrooms.
  </p>
</p-card>

<h1 class="t-a-c">More In Vanities</h1>
<p-panel header="Header">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</p-panel>
