.container {
  width: 30%;
  margin: auto;
  margin-top:10%;
}

.login-form {
  margin-top: 20px;
}

mat-card-header {
  justify-content: center;
 
}

.re-captcha {
  width: fit-content;
  display: block;
  margin: auto;
}
