<div class="container">
  <div class="border"></div>
  <div class="pcard">
    <p-card [style]="{ width: '50%' }">
      <div class="main">
        <div class="image">
          <img alt="Card" src="assets\images\cat-1.png" />
        </div>
        <div class="des">
          <div class="des1">
            Bathroom Vanity A0-1

            <span class="amnt">Amount:5000</span>
          </div>
          <div class="descrip">
            <hr />
            <h3>Description</h3>
            <hr />
          </div>
          <div class="shiping">
            <i class="fa-solid fa-truck"></i>
            <div class="freship">
              Free Shiping
              <div class="shipname">Shipped in 3-7 working days</div>
            </div>
          </div>
          <div class="EasyReturn">
            <i class="fa-solid fa-shield-halved"></i>
            <div class="eaship">
              Easy Return
              <div class="easyreturnname">100% Money Back Guarantee</div>
            </div>
          </div>
          <div class="shiping">
            <i class="fa-solid fa-credit-card"></i>
            <div class="freship">
              Payment Options
              <div class="shipname">Cash on Delivery</div>
            </div>
          </div>
          <div class="shiping">
            <i class="fa-solid fa-phone"></i>
            <div class="freship">
              24/7 Customer Support
              <div class="shipname">
                Contact: 0316-0053897 Whatsapp:0316-0053897
              </div>
            </div>
          </div>
        </div>
      </div>
    </p-card>
  </div>
  <a class="btn-whatsapp" href="https://wa.me/+923160053897"
    ><i class="fa-brands fa-whatsapp"></i
  ></a>
</div>
