
::ng-deep .p-card {
  width: 70%;
  margin: auto;
  margin-top: 20px;
}

::ng-deep .p-card-title {
  text-align: center
}

.vanities-body {
  text-align: center;
}

.items-on-sale {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  font-size: 27px;
  margin-top: 15px;
  background: #df0048;
  padding: 20px 15px;
  color: white;
}

.categories {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin: auto;
}

.brands-at {
  text-align: center;
}

.social-links {
  margin-top: 15px;
  padding: 10px 0;
  background: black;
  color: white;
}

.social-inner-cont {
  display: flex;
  width: 30%;
  margin: auto;
  justify-content: space-evenly;
}

  .social-inner-cont i {
    font-size: 30px;
  }
