<div class="container">
  <div class="head">
    <h1>BATHROOM VANITIES</h1>
  </div>
  <!--<div class="filter">
    <div class="size">
      <mat-form-field>
        <mat-label>Size</mat-label>
        <mat-select>
          @for (size of sizes; track size) {
          <mat-option [value]="size.value">{{ size.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="mater">
      <mat-form-field>
        <mat-label>Material</mat-label>
        <mat-select>
          @for (material of materials; track material) {
          <mat-option [value]="material.value">
            {{
            material.viewValue
            }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </div>-->
  <div class="products">
    <p-card header="Aluminum Vanity"
            subheader="Rs.5000"
            >
      <div class="size-and-quality">
        <p-dropdown [options]="sizes" [style]="{ 'width': '45%', 'margin-right': '20px' }" [(ngModel)]="selectedsize" optionLabel="value" [showClear]="true" placeholder="Size"></p-dropdown>
        <p-dropdown [options]="qualities" [style]="{ width: '45%' }" [(ngModel)]="selectedQuality" optionLabel="name" [showClear]="true" placeholder="Quality"></p-dropdown>
      </div>
        <ng-template pTemplate="header">
          <img alt="Card" src="assets\images\cat-1.png" />
        </ng-template>
        
        <p-button class="cart-btn" label="Add to cart" [outlined]="true"></p-button>
</p-card>
    <!--<p-card
      header="Aluminum Vanity"
      subheader="Rs.5000"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="assets\images\cat-1.png" />
      </ng-template>
      <p-button label="Add to cart" [outlined]="true"></p-button>
    </p-card>
    <p-card
      header="Aluminum Vanity"
      subheader="Rs.5000"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="assets\images\cat-1.png" />
      </ng-template>
      <p-button label="Add to cart" [outlined]="true"></p-button>
    </p-card>
    <p-card
      header="Aluminum Vanity"
      subheader="Rs.5000"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="assets\images\cat-1.png" />
      </ng-template>
      <p-button label="Add to cart" [outlined]="true"></p-button>
    </p-card>
    <p-card
      header="Aluminum Vanity"
      subheader="Rs.5000"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="assets\images\cat-1.png" />
      </ng-template>
      <p-button label="Add to cart" [outlined]="true"></p-button>
    </p-card>
    <p-card
      header="Aluminum Vanity"
      subheader="Rs.5000"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="assets\images\cat-1.png" />
      </ng-template>
      <p-button label="Add to cart" [outlined]="true"></p-button>
    </p-card>
    <p-card
      header="Aluminum Vanity"
      subheader="Rs.5000"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="assets\images\cat-1.png" />
      </ng-template>
      <p-button label="Add to cart" [outlined]="true"></p-button>
    </p-card>
    <p-card
      header="Aluminum Vanity"
      subheader="Rs.5000"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="assets\images\cat-1.png" />
      </ng-template>
      <p-button label="Add to cart" [outlined]="true"></p-button>
    </p-card>
    <p-card
      header="Aluminum Vanity"
      subheader="Rs.5000"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="assets\images\cat-1.png" />
      </ng-template>
      <p-button label="Add to cart" [outlined]="true"></p-button>
    </p-card>
    <p-card
      header="Aluminum Vanity"
      subheader="Rs.5000"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="assets\images\cat-1.png" />
      </ng-template>
      <p-button label="Add to cart" [outlined]="true"></p-button>
    </p-card>
    <p-card
      header="Aluminum Vanity"
      subheader="Rs.5000"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="assets\images\cat-1.png" />
      </ng-template>
      <p-button label="Add to cart" [outlined]="true"></p-button>
    </p-card>
    <p-card
      header="Aluminum Vanity"
      subheader="Rs.5000"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="assets\images\cat-1.png" />
      </ng-template>
      <p-button label="Add to cart" [outlined]="true"></p-button>
    </p-card>
    <p-card
      header="Aluminum Vanity"
      subheader="Rs.5000"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="assets\images\cat-1.png" />
      </ng-template>
      <p-button label="Add to cart" [outlined]="true"></p-button>
    </p-card>
    <p-card
      header="Aluminum Vanity"
      subheader="Rs.5000"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="assets\images\cat-1.png" />
      </ng-template>
      <p-button label="Add to cart" [outlined]="true"></p-button>
    </p-card>
    <p-card
      header="Aluminum Vanity"
      subheader="Rs.5000"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="assets\images\cat-1.png" />
      </ng-template>
      <p-button label="Add to cart" [outlined]="true"></p-button>
    </p-card>-->
  </div>
</div>
