<div class="container">
  <div class="head">
    <h1>ALUMINUM BATHROOM VANITIES</h1>
  </div>
  <!--
  <div class="filter">
    <div class="size">
      <label for="size">Size:</label>
      <select id="size" name="cars">
        <option value="24">24</option>
        <option value="32">32</option>
        <option value="40">40</option>
        <option value="48">48</option>
      </select>
    </div>
    <div class="mater">
      <label for="">Material:</label>
      <select id="" name="c ">
        <option value="Aluminium">Aluminium</option>
        <option value="Pvc">Pvc</option>
      </select>
    </div>
  </div> -->
  <div class="drop">
    <mat-form-field>
      <mat-label>Favorite food</mat-label>
      <mat-select>
        @for (food of foods; track food) {
        <mat-option [value]="food.value">{{ food.viewValue }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div class="products">
    <p-card
      header="Aluminum Vanity"
      subheader="Rs.5000"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="assets\images\cat-1.png" />
      </ng-template>
      <p-button label="Add to cart" [outlined]="true"></p-button>
    </p-card>
    <p-card
      header="Aluminum Vanity"
      subheader="Rs.5000"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="assets\images\cat-1.png" />
      </ng-template>
      <p-button label="Add to cart" [outlined]="true"></p-button>
    </p-card>
    <p-card
      header="Aluminum Vanity"
      subheader="Rs.5000"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="assets\images\cat-1.png" />
      </ng-template>
      <p-button label="Add to cart" [outlined]="true"></p-button>
    </p-card>
    <p-card
      header="Aluminum Vanity"
      subheader="Rs.5000"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="assets\images\cat-1.png" />
      </ng-template>
      <p-button label="Add to cart" [outlined]="true"></p-button>
    </p-card>
    <p-card
      header="Aluminum Vanity"
      subheader="Rs.5000"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="assets\images\cat-1.png" />
      </ng-template>
      <p-button label="Add to cart" [outlined]="true"></p-button>
    </p-card>
    <p-card
      header="Aluminum Vanity"
      subheader="Rs.5000"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="assets\images\cat-1.png" />
      </ng-template>
      <p-button label="Add to cart" [outlined]="true"></p-button>
    </p-card>
    <p-card
      header="Aluminum Vanity"
      subheader="Rs.5000"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="assets\images\cat-1.png" />
      </ng-template>
      <p-button label="Add to cart" [outlined]="true"></p-button>
    </p-card>
    <p-card
      header="Aluminum Vanity"
      subheader="Rs.5000"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="assets\images\cat-1.png" />
      </ng-template>
      <p-button label="Add to cart" [outlined]="true"></p-button>
    </p-card>
    <p-card
      header="Aluminum Vanity"
      subheader="Rs.5000"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="assets\images\cat-1.png" />
      </ng-template>
      <p-button label="Add to cart" [outlined]="true"></p-button>
    </p-card>
    <p-card
      header="Aluminum Vanity"
      subheader="Rs.5000"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="assets\images\cat-1.png" />
      </ng-template>
      <p-button label="Add to cart" [outlined]="true"></p-button>
    </p-card>
    <p-card
      header="Aluminum Vanity"
      subheader="Rs.5000"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="assets\images\cat-1.png" />
      </ng-template>
      <p-button label="Add to cart" [outlined]="true"></p-button>
    </p-card>
    <p-card
      header="Aluminum Vanity"
      subheader="Rs.5000"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="assets\images\cat-1.png" />
      </ng-template>
      <p-button label="Add to cart" [outlined]="true"></p-button>
    </p-card>
    <p-card
      header="Aluminum Vanity"
      subheader="Rs.5000"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="assets\images\cat-1.png" />
      </ng-template>
      <p-button label="Add to cart" [outlined]="true"></p-button>
    </p-card>
    <p-card
      header="Aluminum Vanity"
      subheader="Rs.5000"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="assets\images\cat-1.png" />
      </ng-template>
      <p-button label="Add to cart" [outlined]="true"></p-button>
    </p-card>
    <p-card
      header="Aluminum Vanity"
      subheader="Rs.5000"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="assets\images\cat-1.png" />
      </ng-template>
      <p-button label="Add to cart" [outlined]="true"></p-button>
    </p-card>
  </div>
</div>
