.head {
  text-align: center;
  color: goldenrod;
  border-bottom: 1px solid black;
}
.filter {
  font-size: 20px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
  justify-content: space-evenly;
}
p-card {
  padding-top: 120px;
  margin-bottom: 30px;
}
.size {
  margin-right: 30px;
  margin-top: 30px;
}
.mater {
  margin-left: 30px;
  margin-top: 30px;
}
